@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
@import 'ionicons.min.css';
@import 'style.css';

body
  min-width 1000px

header.header
  height auto

  .logo
    width 220px
    float left
    text-align center

  .navbar
    float right
    width calc(100% - 220px)

  .navbar
  .logo
    height 65px
    line-height 65px

  .sm-st-icon
  .sm-st-info
    display inline-block
    vertical-align middle
    float none

  .sm-st-icon
    width 50px
    height 50px
    line-height 50px

.left-side
  top 65px
  left 0

.right-side
  margin-left 235px

.sidebar
  .sidebar-menu
    margin-bottom 15px

    +.btn
      margin-left 15px

.btn
  margin-right 5px
