@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import 'normalize.css';
@import 'font-awesome.min.css';
@import 'ionicons.min.css';

@import 'blocks/**/*';

*, *:after, *:before
  box-sizing border-box

body
  min-width 1000px
  font-family 'Roboto', sans-serif

.layout
  display flex
  flex-flow row wrap
  min-height 100vh

h2
  margin 10px 0
  font-size 20px
  text-transform uppercase

p
  margin 0 0 10px

.grey
  color #8e8c8c

.clearfix
  display table-cell
  width 100%
  overflow hidden
  clear both