.btn
  display inline-block
  padding 5px 10px
  color #565656
  font-size 13px
  font-weight 300
  background-color #cfcdcd
  border-radius 4px
  border none
  outline none
  transition all .4s ease

  &:hover
    background-color #f4f4f4

  &--blue
    background-color #4697ce
    color #fff

    &:hover
      background-color #3c83b4

  &--red
    background-color #ef5150
    color #fff

    &:hover
      background-color #dd4248

.btn-block
  .btn
    margin 3px

    &:first-child
      margin-left 0

    &:last-child
      margin-right 0
